
<div class="modal-dialog">
	<div class="loginmodal-container">
	  <h1>Sign Up</h1><br>
	  <form>
	  <input type="text" name="user" placeholder="First name">
	  <input type="text" name="user" placeholder="Middle name">
	  <input type="text" name="user" placeholder="Last name">
	  <input type="text" name="user" placeholder="Email">
	  <input type="text" name="user" placeholder="Contact No">
	  <input type="password" name="pass" placeholder="Password">
	  <input type="password" name="pass" placeholder="Confirm Password">
	  <input type="submit" name="signUp" class="login loginmodal-submit" value="Sign Up">
	  </form>
	  <div class="login-help">
	  <a [routerLink]="['/login']">Login</a> - <a [routerLink]="['/fotgotpassword']">Forgot Password</a>
	  </div>
	</div>
  </div>