
<div class="modal-dialog">
	<div class="loginmodal-container">
	  <h1>Sign Up</h1><br>
	  <form class="form-horizontal" novalidate [formGroup]="signup" (ngSubmit)="onSubmit()">
				<input type="text" formControlName="firstName" name="firstName" placeholder="First name">
				<div *ngIf="signup.controls.firstName.dirty">
          <p class="help-block" *ngIf="!signup.controls.firstName.valid">Invalid first name.</p>
        </div>
				<input type="text" formControlName="middleName" name="middleName" placeholder="Middle name">
				<div *ngIf="signup.controls.middleName.dirty">
          <p class="help-block" *ngIf="!signup.controls.middleName.valid">Invalid middle name </p>
        </div>
				<input type="text" formControlName="lastName" name="lastName" placeholder="Last name">
				<div *ngIf="signup.controls.lastName.dirty">
          <p class="help-block" *ngIf="!signup.controls.lastName.valid">Invalid last name</p>
        </div>
				<input type="text" formControlName="email" name="email" placeholder="Email">
				<div *ngIf="signup.controls.email.dirty">
          <p class="help-block" *ngIf="!signup.controls.email.valid">Invalid email id</p>
				</div>
				<input type="text" formControlName="contactNo" name="contactNo" placeholder="Contact No">
				<div *ngIf="signup.controls.contactNo.dirty">
          <p class="help-block" *ngIf="!signup.controls.contactNo.valid">Invalid contact no</p>
        </div>
				<input type="password" formControlName="password" name="password" placeholder="Password">
				<div *ngIf="signup.controls.password.dirty">
          <p class="help-block" *ngIf="!signup.controls.password.valid">{{signup.controls.password.errors.len}}</p>
          <p class="help-block" *ngIf="!signup.controls.password.valid">{{signup.controls.password.errors.ers}}</p>
        </div>
				<input type="password" formControlName="confirmPassword" name="pass" placeholder="Confirm Password">
				<div *ngIf="signup.controls.confirmPassword.dirty">
          <p class="help-block" *ngIf="!signup.controls.confirmPassword.valid">{{signup.controls.confirmPassword.errors.len}}</p>
          <p class="help-block" *ngIf="!signup.controls.confirmPassword.valid">{{signup.controls.confirmPassword.errors.ers}}</p>
        </div>
				<input type="submit" name="signUp" class="login loginmodal-submit" [disabled]="!signup.valid" value="Sign Up">
	  </form>
	  <div class="login-help">
	  <a [routerLink]="['/login']">Login</a> - <a [routerLink]="['/fotgotpassword']">Forgot Password</a>
	  </div>
	</div>
  </div>z